@font-face {
  font-family: roboto;
  src: url(../../fonts/Roboto-VariableFont_wdth\wght.ttf);
}
$bg: #ffcc00;
$sh: #0000009d;
$h: #007bff;
$price: #ff3b30;

.Offers {
  background-color: $bg;
  font-family: roboto;
}
